body, html {
    height: 100%;
    color: black;
    padding-top:40px;
    padding-bottom: 100px;


}
.main-container {
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    height: auto;

    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    width: 90%;

    /* CAMBIO 3: Añadimos relleno arriba para separarlo del menú */


}

/* --- CONTENEDOR DE TARJETAS (MÓVIL) --- */
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    height: 78vh;

    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    padding: 10px 0 80px 0;
    scrollbar-width: none;
}

.cards-container::-webkit-scrollbar { display: none; }

/* --- VERSION ORDENADOR: HORIZONTAL --- */
@media (min-width: 768px) { /* lg en Bootstrap */
    .cards-container {
        padding: 20px 10px;
        flex-direction: row !important;   /* horizontal */
        flex-wrap: wrap !important;        /* salto de línea */
        justify-content: center;
        height: auto;                      /* sin scroll */
        overflow-y: visible;
        overflow-x: auto;                  /* scroll horizontal si hace falta */
    }

    .btn-wrapper {
        display: none !important; /* los botones ↑ ↓ desaparecen en ordenador */
    }
}

/* --- TARJETAS --- */
.card {
    width: 240px;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    background: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:active { transform: scale(0.98); }

.card-img-wrapper {
    height: 65%;
    width: 100%;
    pointer-events: none;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    color: black;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    pointer-events: none;
}

.card-details {
    display: none;
    width: 240px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 15px;
    font-size: 0.85rem;
    margin-bottom: 15px;
    border-radius: 0 0 15px 15px;
    white-space: pre-line;
}
@media (min-width: 768px) { /* Para Portátil y superior (md) */
    .portatil-details-panel { /* Cambiamos el nombre para que sea más claro */
        width: 80%;
        max-width: 900px;
        margin: 30px auto;
        padding: 20px;
        background: white;
        padding-bottom: 100px;
        border-radius: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .card-details {
        display: none !important;
    }
}

