
body {
    padding-bottom: 100px;
}

.bottom-nav-blue {
    background-color: #f2f2f2;
    backdrop-filter: blur(10px);
    border-top: 1px solid #e0e0e0;

}

.bottom-nav-blue .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.menu-icon {
    height: 100%;
    max-height: 50px;
    width: auto;
    max-width: 100%;

    object-fit: contain;
    transition: transform 0.2s;

    mix-blend-mode: multiply;
    opacity: 0.7;
}

.nav-link:hover .menu-icon {
    transform: scale(1.1);
}


.border-end-custom {
    border-right: 3px solid rgba(0, 0, 0, 0.24);
}
.bottom-nav-blue .nav-link.active {
    filter: invert(2);
    font-weight: bold;
}
.
