/* --- CONTENEDOR PRINCIPAL --- */
.bottom-nav-blue {
    background-color: #132e52;
    backdrop-filter: blur(5px);

    /* Borde superior sutil */
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1050;

    padding: 0;
    display: flex;
}

/* --- LAS CELDAS (BOTONES) --- */
.bottom-nav-blue .nav-link {
    flex: 1;
    height: 100%;

    /* Centrado */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 !important;
    margin: 0;
    border-radius: 0; /* Cuadrados perfectos */


    border-right: 1px solid rgba(0, 0, 0, 1);


    border-top: 4px solid transparent;

    position: relative;
    transition: all 0.3s ease;
}
.bottom-nav-blue .nav-link:first-child {

    filter:invert(1);
}

.bottom-nav-blue .nav-link:last-child {
    border-right: none;
    filter:invert(1);
}

/* --- ICONOS --- */
.menu-icon {
    height: 55px; /* Tamaño ajustado para que no se vea gigante */
    width: auto;
    object-fit: contain;

    opacity: 0.5; /* Un poco apagados si no están activos */

    transition: transform 0.2s ease;
    /* QUITAMOS EL BACKGROUND DE AQUÍ */
    background-color: transparent !important;
}

/* --- ESTADO ACTIVO (SELECCIONADO) --- */
.bottom-nav-blue .nav-link.active {

    border-top: 4px solid #66a6ff;


}

/* Efecto en el icono activo */
.bottom-nav-blue .nav-link.active .menu-icon {
    opacity: 1;
    transform: scale(1.15);
    background: linear-gradient(to top, #FFFFFF 0%, #EFD7B7 100%);
}

